.product-img{
    width: 90%;
    height: 85%;
}
.card{
    width: 95%;
    font-size: 12px;
    display: inline;
    margin: 2%;
display: block;
}
.view-product{
    background-color: darkred;
   display: none;
    color: white;
    text-decoration: none;
   text-align: center;
    position: relative;
    margin-top: -30px;
    padding: 7px;
    height: auto;

}
.card:hover .view-product{
display: block;
position: relative;


}

.product-img{
    width: 100%;
    
}
.size{
    display: none;
}
.card:hover .size{
    display: block;
    position: absolute;
padding-left: 0.65rem;

}
.card-text{
padding-left: 0.65rem;
}