.card{
    border: 2px ridge;
    width: 95%;
    font-size: auto;
    margin: 2%;
display: block;
}
.view-product{
    background-color: darkred;
   display: none;
    color: white;
    text-decoration: none;
   text-align: center;
    position: relative;
    margin-top: -37px;
    padding: 7px;
    height: auto;

}
.card:hover .view-product{
display: block;

}
.product-img{
    width: 100%;
}
