
.heading-line{
    display: flex;
    justify-content: space-between;
    padding-left: 30px;
    border: 1px ridge;
    padding: 13px;
width: 94%;
}
.heading-line select{
    margin-right: 1%;
   border: none;
   
}
select{
    padding: 5px;
}

.Product-page{
  
display: block;
  width: 100%;
    margin-top: 20px;
    /* padding-left: 10px; */
    /* padding-right: 10px; */
    
}

